.wopl-dropdown {
  border: 1px solid;
  border-radius: $borderRadius300;
  max-height: 250px;
  overflow: auto;
  &-dark {
    @extend .wopl-dropdown;
    background-color: $neutral900;
    border-color: $neutral600;
  }
}